.table-container {
    display: flex;
    overflow-x: auto;
    flex: 1;
    max-width: 100%;
    position: relative;
  }
  
  .fixed-table {
    min-width: 200px;
    border-collapse: collapse;
  }
  
  .fixed-table th,
  .fixed-table td {
    border: 1px solid #ddd;
    padding: 8px;
    background-color: #f2f2f2;
  }
  
  .scroll-container {
    flex: 1;
    overflow-x: auto;
    max-width: 100%;
  }
  
  .scroll-table {
    border-collapse: collapse;
  }
  
  .scroll-table th,
  .scroll-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  /* Alternate background colors for rows */
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Set the alternating background colors for columns */
  .color1 {
    background-color: #ffcccb; /* Light Coral */
  }
  
  .color2 {
    background-color: #add8e6; /* Light Blue */
  }
  